:root {
    --primary-color: #A7B0Ca;
    /* Powder Blue */
    --accent1-color: #001D4A;
    /* Prussian Blue*/
    --accent2-color: #5DB5D5;
    /* Sky Surge*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    background-color: var(--accent2-color);
    margin-bottom: 10px;
}
nav {
    display: flex;
    list-style: none;
    flex: 1 1 auto;
    justify-content: flex-end;
}
nav a {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

header img {
    width: 150px;
    height: auto;
    padding: 5px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px 0px;
    padding: 8px;
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    left: 0;
    right: 0;
    bottom: 5px;
    opacity: 0.7;
    text-align: left;
    color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 125px;
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

h2 {
    grid-column: 1/6;
    background-color: var(--accent2-color);
    right: 0;
    left: 0;
    text-align: center;
}
p {
    grid-column: 1/6;
}

.socialmedia a {
    text-decoration: none;
}

footer img {
    width: 50px;
    height: auto;
}

footer p {
    color: var(--accent1-color);
}