* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 650px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: black;
    background: #fff;
}

form {
    width: 650px;
    display: grid;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 1em;
    background-color: #eee;
}

.form-item {
    display: grid;
    align-items: center;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: 1em;
    padding: 1rem;
}

.column1 {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

label {
    text-align: right;
    padding-right: 0;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    justify-self: center;
    /*vertical-align: bottom;*/
}

button {
    width: auto;
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}