* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(o o o / 10%);
    padding: 1rem;
    background-color: #999;
    color: #000;
}

h1 {
    margin: .5rem;
}

form {
    background-color: #ddd;
    color: #111;
}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 350px;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
}