table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    caption-side: top;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
    ;
}