* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --image-width: 150px;
    --image-height: auto;
    --border: 1px solid black;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2re;
    font-weight: 700;
}

h1 {
    border-bottom: 1px solid #000;
    color: darkblue;
    padding: 0.5rem;
}

img {
    width: var(--image-width);
    height: var(--image-height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    margin: 1rem;
    grid-column: 2;
}

main img {
    float: right;
    width: var(--image-width);
    height: var(--image-height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

aside h2 {
    position: absolute;
    margin-left: 125px;
    margin-top: 85px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    /* box-sizing: content-box; */
}

.indent {
    padding-left: 1.5rem;
}