.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 15px;
    background-color: darkblue;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid white;
    padding: 3px;
    background-color: white;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
    color: white;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
    font-style: italic;
    color: white;
}